.profileUserBtn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  /* border: solid 2px #15510e; */
  border: none;
  background-color: rgb(104, 52, 157);
  transition: .5s;
}

.profileUserBtn:hover {
  cursor: pointer;
  background-color: rgb(93, 42, 143);
}

.addImg-Btn-Nav {
  color: white;
  margin-left: 20px;
}

.addImg-Btn-Nav:hover {
  color: lightgray;
}

.navbar-Albums {
  color: white;
}

.navbar-Albums:hover {
  color: lightgray;
}

.userCamera {
  background: linear-gradient(90deg, yellow, rgb(252, 64, 95));
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
}

.userCamera:hover {
  color: lightgray;
}

.navbar-Home {
  color: white;
}

