.profileUserBtn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* background-color: white; */
  /* border: solid 2px #15510e; */
  border: none;
  background-color: gold;
  /* background-color: rgb(104, 52, 157); */
  /* background-color: rgb(95, 62, 140); */
  /* background-color: rgba(21, 146, 82, 0.509); */
  transition: .5s;
}

.profileUserBtn:hover {
  cursor: pointer;
  color: gray;
  background-color: rgb(213, 182, 4);
  /* background-color: rgb(93, 42, 143); */
  /* background-color: rgb(74, 47, 113); */
  /* background-color: rgba(20, 125, 71, 0.509); */
}

.addImg-Btn-Nav {
  color: white;
  margin-left: 20px;
}

.addImg-Btn-Nav:hover {
  color: lightgray;
}

.navbar-Albums {
  color: white;
}

.navbar-Albums:hover {
  color: lightgray;
}

.userCamera {
  /* background: linear-gradient(90deg, lightblue, rgb(213, 117, 133)); */
  border-radius: 2px;
  /* color: rgba(255, 255, 255, 0.797); */
  /* color: white; */
  color: rgb(72, 72, 72);
  /* background: lightblue; */
  transition: 0.5s;
}

.userCamera:hover {
  color: black;
}

.navbar-Home {
  color: white;
}

